/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
body
{
	margin: 0px;
}
.ButtonContainer
{
	width: 200px;
	height: 75px;
}


.menuButton
{
	width: 200px;
	height: 40px;
	margin: 10px;
}

.worldManagerButton
{
	width: 70px;
	float: right;
	margin-left: 5px;
}

#banner
{
	position: relative;
	margin: 0 auto;
	margin-top: -10px;
	width: 100%;
	height: 50px;
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	background-color: white;
}

#contentPanel
{
	background-color: white;
	position: relative;
	margin: 0 auto;
	width: 800px;
	height: 800px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}

.centered
{
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
}

.bordered
{
	border-style: solid;
	border-color:#CCCCCC;
}

.alignedCenter
{
	text-align: center;
}

.leftIndent
{
	margin-left: 30px;
}

.bordered
{
	border: green solid;
}

.worldCreationPanel {
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	width: 798px;
}

.mainPanel {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.leftFormPanel {
	padding-left: 10px;
	padding-right: 10px;
	width: 400px;
}

.rightFormPanel {
	padding-left: 10px;
	padding-right: 10px;
	width: 400px;
}

.locationListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

.descriptionTextArea {
  max-height: 65px;
  min-height: 65px;
  max-width: 265px;
  min-width: 265px;
  margin-left: 15px;
}
.locationsFlexTable {
	padding-top:5px;
	padding-bottom:5px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.namePanel{
	padding-top:5px;
	padding-bottom:5px;
}

.descriptionPanel{
	padding-top:5px;
	padding-bottom:5px;
}

.addLocationPanel{
	padding-left:32%;
}

.discardButton{
	width:100px;
	margin-right:15px;
}

.saveButton{
	width:100px;
	margin-left:15px;
}

.discardSavePanel{
	padding-left:80px;
	padding-top:20px;
}

.nameTextBox{
	margin-left:45px;
}

.locationCreationButtonsContainer
{
	position: absolute;
	top: 700px;
	left: 670px;
}